# Rust / Cargo
/target/
**/*.rs.bk
Cargo.lock
bun.lockb

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log
tmp/
dist/

# Nix
/result
/nix
.direnv
.envrc
.env

# Node (if used alongside)
node_modules/

# Other
coverage/
package.json
